.Footer {
  background-color: rgb(30, 30, 43);
  color: white;
  height: auto;
  padding: 0;
}

.Footer-container {
  padding: 0 4rem;

  max-width: 100%;
}

.footer-image {
  /* max-width: 50%; */
  margin: 0 auto;
  display: block;
  width: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.foot-h1 {
  font-size: 2rem;
  text-align: center;
  margin: 25px 0;
  font-weight: 500;
}

.foot-p {
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 1rem;
}

.foot-a {
  cursor: pointer;
}

.foot-a:hover {
  text-decoration: none;
  color: #fff;
}

.icons {
  font-size: 1.5rem;
  padding-right: 10px;
}

.copyright {
  padding: 1rem 0;
  text-align: center;
  margin: 0;
}

.co-icon {
  font-size: 2rem;
  padding-right: 10px;
}

@media screen and (max-width: 1100px) {
  .Footer-container {
    padding: 0 3rem;
  }

  .foot-h1 {
    font-size: 1.5rem;
  }

  .foot-p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .Footer-container {
    padding: 0 2.7rem;
  }

  .foot-h1 {
    font-size: 1.2rem;
  }

  .foot-p {
    font-size: 0.7rem;
  }
}
